* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeedde;
  width: auto;
  font-family: "Calistoga";
}

button {
  width: 165px;
  height: 165px;
  text-align: center;
  border-radius: 20px;
  border: 0px;
  font-size: 90px;
  color: #eeedde;
  background-color: #141e27;
  font-family: "Balsamiq Sans";
}

button:hover {
  background-color: #274049;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #e0ddaa;
  padding: 20px 0px;
}

.title {
  font-size: 34px;
  font-family: "Bungee Inline", serif;
  color: #141e27;
  text-align: center;
}

.score,
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 42px;
}

#first-text {
  font-size: 38px;
  font-weight: bold;
}
#second-text {
  font-size: 28px;
}
.results {
  text-align: center;
}

.score {
  font-size: 32px;
  gap: 100px;
  text-align: center;
  margin: 80px 0px;
}
.sings {
  font-size: 100px;
  height: 150px;
}

.buttons {
  gap: 10px;
}

.play-again {
  width: 200px;
  height: 60px;
  text-align: center;
  font-size: 20px;
}
.scores {
  width: 200px;
}

.final-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
}
